@media (max-width: 1024px) {
  .contact-about {
    flex-direction: column;
    align-items: center;
  }
  .aboutus {
    text-align: center;
    margin-top: 100px;
  }
  .teamblock {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .burger-bar {
    display: block;
  }
  .nav-ul {
    display: none;
  }
  .nav-ul li a {
    font-size: 30px;
  }
  .nav-ul :nth-child(2) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .teamblock {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-us {
    width: 470px;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .contact-us {
    width: 320px;
    margin: 0 auto;
  }
  .contact-us input {
    width: 300px;
  }
  .contact-us textarea {
    width: 300px;
  }

  .teamblock {
    grid-template-columns: repeat(1, 1fr);
  }
}
