.header-wraper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: rgba(70, 69, 69, 0.2);
}
.nav-ul {
  display: flex;
  justify-content: space-between;
}
.nav-ul li a {
  margin: 50px;
  color: white;
  font-weight: bold;
  font-family: "Nunito";
  font-size: 20px;
}
.nav-ul li a:hover {
  cursor: pointer;
  color: rgb(0, 200, 226);
}
.burger-bar {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;

  display: none;
}
.line {
  width: 80%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.line1 {
  top: 30%;
}
.line3 {
  top: 70%;
}
.activeBugerBar .line1 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.activeBugerBar .line2 {
  display: none;
}
.activeBugerBar .line3 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.nav-ul.toggleNavigation {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1c1d22;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  width: 50px;
  height: 50px;
}

/* welcome */

.welcomebck {
  background: no-repeat center url("../images/welcome.jpg");
  height: 1119px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.welcome {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-family: cool_font;
  font-size: clamp(60px, 10vw, 100px);
  font-weight: bold;
  margin: 0 auto;
  padding: 20px 10px;
  background-color: white;
  mix-blend-mode: screen;
  text-align: center;
  width: 50%;
  border-radius: 25px;
}
/* splid slider style */
.slider-wraper {
  margin-top: 50px;
  position: relative;
  max-width: 900px;
  width: 100%;
}
img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.splide {
  padding: 30px 0;
}
.img__box p {
  font-size: 25px;
  text-align: center;
  margin: 20px;
  font-family: "Nunito";
  color: #027cb7;
}

.sliderp {
  font-size: 40px;
  text-align: center;
  margin-top: 150px;
  font-family: "Nunito";
}
/* scroll top */
* {
  scroll-behavior: smooth;
}

.scrollTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 15px 15px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  display: none;
}
.scrollTop:hover {
  background-color: #f7f7f7;
  color: #000;
  font-weight: bold;
}

/* Sign Up */
.validation {
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  font-size: 16px;
  text-align: center;
}

input {
  border: 1px solid gray;
  outline: none;
  border-radius: 5px;
  padding: 20px 20px;
  font-family: "Nunito";
}

.inputsize {
  width: 100%;
  height: 25px;
  justify-content: center;
  align-items: center;
  font-family: "Nunito";
}

.form {
  background: #000;
  width: 400px;
  border-radius: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  font-family: "Nunito";
}

.form .validation label {
  color: white;
}

.icon-eye {
  color: #000;
  position: absolute;
  left: 340px;
  top: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.error-message {
  color: #ff0000;
  font-size: 16px;
}

.psignup {
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  color: white;
}

.xclass {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 30px;
  transition: 0.5s;
  color: #fff;
}
.xclass:hover {
  cursor: pointer;
  color: red;
}
.submit {
  background-color: #000000;
  color: #03e9f4;
  padding: 15px;
  outline: none;
  border: 1px solid #03e9f4;
  transition: 0.5s;
}
.submit:hover {
  cursor: pointer;
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}
/* accordion */
.secondblock {
  max-width: 1637px;
  width: 80%;
  text-align: center;
  margin: 100px auto;
}
.team-content {
  font-family: "Nunito";
}
.secondblock h3 {
  margin-top: 16px;
  margin-bottom: 10px;
  font-size: 36px;
  text-align: center;
  font-family: "Nunito";
}
.teamblock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(129px, auto);
  grid-gap: 20px;
}

.team-title {
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
  font-family: "Nunito";
}
.team-title:before {
  content: url("../images/arrow-down.png");
  font: var(--fa-solid-fa-chevron-up);
  position: absolute;

  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  font-size: 30px;
}
.team-content {
  height: 50px;
  display: none;
  width: 100%;
  font-size: 22px;
  transition: 0.5s;

  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
}
.teambox.active .team-content {
  display: block;
}
.teambox.active .team-title:before {
  content: url(../images/arrow-up.png);
}
.teambox {
  margin-bottom: 30px;
  padding: 10px;
  cursor: pointer;
}

/* Cookies */
.cookie_box {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 400px;
  padding: 50px;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 999;
}

.cookie_box.active {
  display: block;
  background-color: #81c26d;
  font-family: "Nunito";
}

.cookie_box img {
  height: 80px;
  width: 90px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}
.cookie_box h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-weight: bolder;
}
.cookie_box button {
  padding: 8px 25px;
  background: #027cb7;
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin: 15px;
}
.cookie_box p {
  margin: 20px;
}
.cookie_box button:focus {
  background: #054d6f;
}

/* footer */
.footer-block {
  background-color: #000000;
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
.contactfooter {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  padding-top: 10px;
}
.fpstyle {
  margin-bottom: 20px;
}
.icons {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}

.icons .fa-brands {
  font-size: 40px;
}
.icons .fa-instagram {
  font-size: 40px;
}
.icons .fa-youtube {
  font-size: 40px;
  color: #dc4e41;
  margin-left: 40px;
}
.icons .fa-twitter {
  font-size: 40px;
}
.footer-block p {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  font-family: "Nunito";
}
.span1 {
  color: #027cb7;
}
.fa-facebook {
  color: #3549e5;
}
.fa-instagram {
  color: #a020f0;
}

.fa-twitter {
  color: #00acee;
}

/* contact us about us */
.registrationp {
  text-align: center;
  font-size: 25px;
  color: white;
  width: 100%;
  height: 3em;
  border: 1px solid white;
  background-color: #d9042a;
  padding-top: 25px;
  margin: 20px auto;
  cursor: pointer;
}
.registrationp:hover {
  background-color: #0dc916;
}
.contact-us {
  position: relative;

  width: 700px;
  height: 900px;
  align-items: center;
  box-sizing: border-box;
  background: no-repeat url("../images/ushba.jpg");
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
.contactp {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-family: "Nunito";
  margin-bottom: 20px;
}

.contact-us h2 {
  width: 100%;
  margin-bottom: 1.5em;
  padding: 0;
  font-family: "Nunito";
  font-size: 2.5em;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2em;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
}

.contact-us input {
  width: 380px;
  margin-top: 20px;

  font-family: "Nunito";
  background: #fdfdfd;
  border: 1px solid #eee;
  font-size: 1em;
  color: #000;
  outline: none;
}

.contact-us input:-moz-placeholder {
  color: #bbb;
}
.contact-us input:-ms-input-placeholder {
  color: #bbb;
}
.contact-us input::-webkit-input-placeholder {
  color: #bbb;
}

.contact-us textarea {
  width: 380px;

  height: 200px;
  margin-top: 20px;

  background: #fdfdfd;
  border: 1px solid #eee;
  resize: none;
  font-size: 1em;
  color: #000;
  outline: none;
}
.aclass {
  box-sizing: border-box;
  border: 1px solid;
  width: 100%;
}
.contact-us textarea:-moz-placeholder {
  color: #bbb;
}
.contact-us textarea:-ms-input-placeholder {
  color: #bbb;
}
.contact-us textarea::-webkit-input-placeholder {
  color: #bbb;
}

.contact-us button {
  width: 100%;
  height: 3em;
  margin-top: 1em;
  padding: 0;
  background: #d9042a;
  border: 1px solid;
  cursor: pointer;

  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  line-height: 3em;
  text-align: center;
}

.contact-us button:hover {
  background: #0dc916;
}

.contact-us button {
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
}

.contact-about {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  font-family: "Nunito";
  background: no-repeat url("../images/aboutbck.jpg");
  background-size: cover;
  position: relative;
}
.aboutus {
  max-width: 800px;
  width: 100%;
  font-size: 25px;
  color: white;
  text-align: center;
}
.aboutus :nth-child(1) {
  font-size: 50px;
  text-align: center;
  margin-bottom: 200px;
  color: white;
}

/* api */
.postbck {
  background: no-repeat center url("../images/welcome.jpg");
  background-attachment: fixed;
}
.posth2 {
  padding-top: 150px;
  text-align: center;
  font-size: 50px;
  font-family: "Nunito";
  color: white;
}
.posts {
  width: 80%;
  height: 250px;
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  font-family: "Nunito";
  text-align: center;
  padding-top: 50px;
  margin: 150px auto;
  border-radius: 25px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  display: none;
  font-family: "Nunito";
}
.postform {
  display: flex;
  flex-direction: column;
}
.postform label {
  font-size: 35px;
  text-align: center;
  margin-top: 250px;
}
.postform input {
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
}
.postform button {
  width: 150px;
  height: 50px;
  margin: 10px auto;
  border-radius: 15px;
  cursor: pointer;
  font-size: 25px;
}

.overlay,
.overlay-add {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 800px;
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  display: none;
  color: white;
  font-size: 20px;
  text-align: center;
  border-radius: 15px;
}
.overlay {
  padding-top: 250px;
  border-radius: 15px;
}

.closeIcon {
  position: absolute;
  top: 30px;
  right: 30px;
  color: rgb(255, 255, 255);
  font-size: 40px;
  cursor: pointer;
}
.add-post {
  color: rgb(255, 255, 255);
  font-size: 40px;
  position: fixed;
  right: 30px;
  bottom: 90px;
}
.overlay.active,
.overlay-add.active-add {
  display: block;
  max-width: 800px;
  width: 100%;
  margin: 200px auto;
}
